<table style="width:100%">
	<tbody>
		<tr>
			<td style="text-align:left; width:30%"><p><img style="width: 110px;" src="{$BASEDIR}/images/logoEcole.png"><br></p></td>
			<td style="text-align:right; width:70%">
			<h3>##ECOLE##</h3>
			<strong>##ADRESSE##<br>
			Téléphone: ##TELEPHONE##<br>
			##COMMUNE##, le ##DATE##</strong></td>
		</tr>
	</tbody>
</table>

<h3>##titreFait##</h3>

<p><strong>##prenom##</strong> <strong>##nom##</strong> en classe de ##classe##<br>
a mérité une retenue de ##duree## h le ##dateRetenue## à ##heure## (local ##local##) pour le motif suivant</p>

<p><br>
##motif##</p>

<p><strong>Matériel à apporter:</strong></p>

<p>Journal de Classe, de quoi écrire, ##materiel##</p>

<p><strong>Travail à effectuer:</strong></p>

<p>##travail##</p>

<table style="width:100%">
	<tbody>
		<tr>
			<td style="text-align:center; width:33%">Le professeur</td>
			<td style="text-align:center; width:33%">Le CPE</td>
			<td style="text-align:center; width:33%">Les parents</td>
		</tr>
		<tr>
			<td style="text-align:center">##nomProf##</td>
			<td> </td>
			<td> </td>
		</tr>
	</tbody>
</table>
