.geant {
    background-color: #fff;
    border: 2px solid #f44;
    box-shadow: 5px 5px 5px 2px #ccc;
    color: #f44;
    font-size: 2em;
    font-weight: bold;
    margin: 0.2em 0.2em 0.5em;
    padding: 0.2em 0.2em 0.5em;
    text-align: center;
}

.urgence0 {
    background-color: #9f9;
}

.urgence1 {
    background-color: #99f;
}

.urgence2 {
    background-color: #f99;
}

.spanDisabled {
    color: #999;
}

.champ {
    border: 1px solid black;
    padding: 0.5em 1em;
    box-shadow: 5px 5px 5px 2px #ccc;
    border-radius: 10px;
}

.table-bulletin>tbody>tr>td {
    padding: 2px;
}

#calendar .fc-content {
    cursor: pointer;
}

p.event-special, a.event-special {
    background: #ff0000 none repeat scroll 0px 0px;
}

p.event-success, a.event-success {
    background: #008000 none repeat scroll 0px 0px;
    color: white;
}

p.event-warning, a.event-warning {
    background: #ffa500 none repeat scroll 0px 0px;
}

p.event-info, a.event-info {
    background: #ffff00 none repeat scroll 0px 0px;
    color: red;
}

p.event-inverse, a.event-inverse {
    background: #286090 !important;
    color: #fff !important;
}

.fc-prev-button, .fc-next-button, .fc-today-button {
    background: orange !important;
    color: #fff !important;
}

.fc-week-number a, .fc-day-header a {
    display: block;
    max-width:7em;
    text-align: center;
    background-color: hsla(41.1, 100%, 55.3%, 0.8) !important
}

.fc-week-number a, .fc-day-header a, .fc-day-number {
    display: block;
    max-width:7em;
    text-align: center;
    background-color: hsla(41, 98.6%, 71.8%, 0.8) !important;
}

.fc-day-number {
    width: 1.5em;
}

.fc-unthemed td, .fc-unthemed thead, .fc-unthemed .fc-row, .fc-unthemed .fc-list-heading td {
	border-color: #aaa !important;
}

#calendar.subjectif, p.jdcInfo.subjectif {
    background-image: repeating-linear-gradient(315deg, #ccc, #ccc 20px, #ebd8ff 20px, #ebd8ff 40px);
    border-radius: 10px;
}
#calendar.jdcAny, p.jdcInfo.jdcAny {
    border-radius: 10px;
    background: -webkit-repeating-linear-gradient(45deg, rgb(219, 218, 212) 0%, rgb(159, 217, 169) 40px);
    background: -o-repeating-linear-gradient(45deg, rgb(219, 218, 212) 0%, rgb(159, 217, 169) 40px);
    background: -moz-repeating-linear-gradient(45deg, rgb(219, 218, 212) 0%, rgb(159, 217, 169) 40px);
    background: repeating-linear-gradient(45deg, rgb(219, 218, 212) 0%, rgb(189, 204, 207) 40px);
    border-radius: 10px;
}
#calendar.cours, p.jdcInfo.cours {
    background-color: #ffe6b5 !important;
    border-radius: 10px;
}

#duree:disabled, #timepicker:disabled {
    background-color: #aaa;
    color: #ccc;
}

.titreTravail {
    padding: 0.5em 1em;
    border: 2px solid black;
}

.cat_1 {
    background: #f55 !important;
    color: #fff !important;
}

.cat_2 {
    background: #0f0 !important;
    color: #333 !important;
}

.cat_3 {
    background: #00f !important;
    color: #fff !important;
}

.cat_4 {
    background: #ff0 !important;
    color: #000 !important;
}

.cat_5 {
    background: #f00 !important;
    color: #ff0 !important;
}

.cat_6 {
    background: #555 !important;
    color: #ccc !important;
}

.cat_7 {
    background: #fff !important;
    color: #000 !important;
}

.cat_8 {
    background: #bbf !important;
    color: #f22 !important;
}

.cat_9 {
    background: #fbb !important;
    color: #000 !important;
}

.discret {
    padding: 0;
    font-size: 9pt;
}

.accuseRecu {
    background-color: #9f9;
}

.accuseNonRecu {
    background-color: #f99
}

.freeze {
    background-color: #f55;
}

.indisponible {
    background-color: #aaa !important;
    color: #333;
}

.wait * {
    cursor: wait;
}

label.error {
    background: #ff0000;
    color: #ffffff;
}

.btnLimite {
    text-overflow: ellipsis;
    width: 10em;
    overflow: hidden
}

.popover .close {
    color: #fff;
    opacity: 1;
    line-height: 10px
}

form input:disabled {
    color: #999;
}

.statutSpecial {
    background-color: rgb(255, 246, 170)
}

.attente1 {
    background-color: rgb(242, 193, 239);
    color: black;
}

.attente2 {
    background-color: rgb(195, 230, 179);
    color: black;
}

.attente3 {
    background-color: rgb(174, 218, 224);
    color: black;
}

.btn-eleve, .btn-prof {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.switchOn {
    color: #0a0;
}

.switchOff {
    color: #c33;
}

.selected {
    background-color: #F9C331;
}

.grise {
    color: #aaa;
}

.showAccuse, .addPJ {
    cursor: pointer;
}

.memoSharedFile {
    cursor: pointer;
    font-size: 16px;
}

.memoSharedFile:hover {
    background: #ddd;
}


#listeFichiers tr.active, #listePartages p.active {
    background: #99f !important;
    color: #000 !important;
}
#listeFichiers tr.active td {
    background: #99f !important;
}
#listeFichiers.active a {
    color: #ff0;
}

.btn-crumb.active {
    border: 1px solid red !important;
}

.shareList li {
    background-color: #ddd;
}

.input-group-addon.primary {
    background: #fbdf93;
    background: -moz-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbdf93), color-stop(49%, #f8b500), color-stop(50%, #fccd4d), color-stop(100%, #fceabb));
    background: -webkit-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -o-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -ms-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fbdf93', endColorstr='#fceabb', GradientType=0);
    background: linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    color: black;
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.nonRemis {
    background-color: #fcc;
}

.remis {
    background-color: #cfc;
}

fieldset.info {
    background: #dfd;
    padding: 0 1em;
    border: 1px solid #999;
}

fieldset.info legend {
    background: #faa;
    padding: 0 1em;
    margin-left: -1em;
}

.box {
    border: 2px solid #555555;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #fff;
    margin: 0 0 15px;
    padding: 5px;
}

.box h3 {
    margin: 0;
}

.nomFichier {
    padding: 0 0 0 22px;
    background-image: url(images/disk.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#unTravail .panel {
    background-image: url('images/carre.png');
}

.checked {
    background-color: #9f9;
}

.btn-xl {
    padding: 10% 0;
    heigth: 5em;
}

tr.dir {
    background-color: #eee;
}

#listeFichiers table {
    cursor:pointer;
}

#listeTravaux button.active {
    background-color: #F9E0AE;
}

a.btnTabAdd {
    padding: 0.7em 0.3em !important;
}

h2.subjectif {
    background: red !important;
    color: white !important;
}

.cours {
    background-color: #fcc !important;
}

tr.coursGrp {
    background-color: #aaf !important;
}

.niveau {
    background-color: #cff;
}

.classes {
    background-color: #cfc !important;
}

.ecole {
    background-color: #ffc;
}

tr.nonLu td{
    font-weight: bold;
    color: #55e;
}

.erreurInput {
    background-color: red !important;
    color: #fff;
}

body.wait *, body.wait {
    cursor: wait !important;
}

.calendrier {
    font-size: 0.9rem;
    float: left;
    padding: 0 0.3rem;
    border: 1px solid #001eff;
    margin-right: 0.4rem;
    background-color: rgba(255, 255, 255, 0.6);
    color: #f00;
}

.jour {
    border-bottom: 1px solid black
}

#detailsOffre .form-control-static {
    border: 1px solid #999;
    padding: 0.3em;
    border-radius: 4px;
    }

.indetermine {
    background-color: #ccc;
}

.present {
    background-color: #afa;
}

.absent {
    background-color: #faa;
}

.red {
    background: red !important;
}

.proprio {
    color: red !important;
    background-color: yellow !important;;
}

.admin {
    background-color: pink !important;
}

.proprio .past-event {
    background-color: #dd7;
    color: #777;
}

.past-event {
    background-color: #999;
    color: #fff
}

.panelDisable * {
    background-color: #aaa;
}

.offre {
    background-color: #d1d1e6;
}

.cible {
    background-color: #aaf;
}

.presence {
    padding: 0.3em;
    border: 1px solid black;
    font-size: 1rem;
    display: inline-block;
}

.uneCible {
    padding: 0;
    border: 1px solid #888;
    border-radius: 4px;
    margin: 0.5em;
    color: #333;
    display: inline-block;
}

.uneCible.niveau {
    background-color: #FFAEDB;
}
.uneCible.tous {
    background-color: #60E9FF;
}
.uneCible.classe {
    background-color: #9dff7c;
}
.uneCible.coursGrp {
    background-color: #FFD20F;
}
.uneCible.matiere {
    background-color: #F3FF35;
}


button.cache {
    border: 2px solid grey !important;
    font-weight: bolder;
}
button.cache span.titreOffre {

    color: #aaa;
}

.cache span.titreOffre:before{
   font-family: FontAwesome;
   font-size: 12pt;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}

.cache span.titreOffre:before {
   content: "\f070";
}

p.jdcInfo {
    border: 1px solid #555;
    padding: 5px;
    border-radius: 7px;
    font-size: 15pt;
}
p.jdcInfo:before {
    font-family: FontAwesome;
    font-size: 12pt;
    color: blue;
  content: "\f05a   ";
}

.demiOmbre {
	border: 5px solid #fff;
	-moz-box-shadow: 8px 8px 12px #adadad;
	-webkit-box-shadow: 8px 8px 12px #adadad;
	box-shadow: 4px 4px 6px #adadad;
}

.PjFiles {
    background-color: #fce6aa;
}

.PjFiles  li {
    display: inline-block;
    padding: 0 0.5em;
    border: 1px solid #555;
    border-radius: 3px;
    margin: 3px;
    background-color: #eee
}

.PjFiles li a {
    font-size: 8pt;
    font-weight: normal;
    color: blue;
}

.remediation {
    background-image: linear-gradient(45deg, #eebaf5 25%, #F6F0CF 25%, #F6F0CF 50%, #eebaf5 50%, #eebaf5 75%, #F6F0CF 75%, #F6F0CF 100%);
    background-size: 19.80px 19.80px;
    color: black !important;
}

.coaching {
    background: rgb(255,255,255);
    background: linear-gradient(63deg, rgba(255,255,255,1) 9%, rgba(255,170,170,1) 96%);
    color: black !important;
}

.modified {
    background-color: #9f9 !important;
}

.virtuel {
    font-weight: bolder;
    color: grey;
    background-color: yellow;
    }

#weekCalendar .fc-event {
    color: black !important;
    background-color: #eee !important;
    border: 1px solid #aaa !important;
}

#weekCalendar .fc-event, #weekCalendar.fe-event:hover {
    background-color: rgba(0, 0, 255, 0.1) !important;
    color: gray !important;
}

@media screen {
    .overflow35 {
        height: 35em;
        overflow: auto;
    }
}

/* Treeview */

div.panel:first-child {
    margin-top:20px;
}

div.treeview, div.treeviewPost {
    min-width: 100px;
    min-height: 100px;
    max-height: 256px;
    overflow:auto;
    padding: 4px;
    margin-bottom: 20px;
    color: #369;
    border: solid 1px;
    border-radius: 4px;
}

div.treeview ul:first-child:before, .treeviewPost ul:first-children:before {
    display: none;
}

.treeview, .treeview ul, .treeviewPost, .treeviewPost ul {
    margin:0;
    padding:0;
    list-style:none;
    color: #369;
}
.treeview ul, .treeviewPost {
    // margin-left: 1em;
    position:relative
}

.treeview ul ul, .treeviewPost ul ul {
    margin-left:.5em
}

.treeview ul:before, .treeviewPost ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}

.treeview li, .treeviewPost li {
    margin:0;
    padding:0 0 0 1em;;
    line-height:2em;
    position:relative;
}

.treeview ul li:before, .treeviewPost ul li:before {
    display:block;
    width:10px;
    height:0;
    border-top:2px solid;
    position:absolute;
    top:1em;
    left:0
}

.tree-indicator {
    margin-right:5px;
    cursor:pointer;
}

.treeview li a , .treeviewPost li a {
    text-decoration: none;
    color:inherit;
    font-weight: normal;
    cursor:pointer;
}

.treeview li a.active, .treeviewPost li a.active {
    background-color: #f4d186;
    color: black;
    padding: 0 1em 0 0;
}

#treeviewCategories .eleves, .modal .eleves {
    background-color: #8ee5ff;
    color:  black;
}

#treeviewCategories .profs, .modal .profs {
	background-color: #ff9c99;
	color: #333;
}

#listeSujets button.active {
	background-color: #fffb05 !important;
	color: #262f24 !important;
}


#listeSujets button.profs {
    background-color: #ff9c99;
	color: #333;
}


#listeSujets button.eleves {
    background-color: #8ee5ff;
    color:  #444;
}

.supprime {
	text-decoration: line-through;
	color: #999;
}

.postForum {
    border: 1px solid #ddd;
    padding: 0 0.5em;
    line-height: 1.3em;
}

.postForum p {
    margin-bottom: 0.6em;
}

.postForum a {
    text-decoration: underline !important;
    color: #00f !important;
    font-weight: 650 !important;
}

.postForum.active {
    background-color: #ff5;
}

.postForum.em8 {
    max-height:8em;
    overflow: auto;
}

.postForum button {
    margin-right: 0.5em;
}

.note-editable div, .postForum div {
    padding-bottom: 0.8em;
}

#selecteurVertical .form-group, #selecteurVertical .panel {
    margin: 0;
}

#selecteurVertical .panel-body {
    background-color: #ddd;
    padding: 0.5em;
}

#dateEnvoi {
	color: red;
	padding: .2em 0.5em;
	border: 1px solid #e1dcdc;
	background: #cdfb88;
}

#ficheEleve tr {
    cursor: pointer;
}


.forumActif {
    border: 2px solid black;
    font-weight: bolder;
}
.forumInactif {
    color: #888 !important;
}


.groupe.ouvert, .btn.ouvert {
    background-color: #9f9;
}

.groupe.ferme, .btn.ferme {
    background-color: #f99;
}

.groupe.invitation, .btn.invitation {
    background-color: #99f;
}

.fichier {
    width:12em;
    text-align:center;
    float: left;
    padding: 1em 1em 0 1em;
    margin: 0.5em;
    cursor: pointer;
    word-wrap: break-word;
    }

.nomFichiers {
    font-size: 9pt;
    text-align:center;
    }

.fileImage {
    background-image: url('images/file.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 6em;
    width: 8em;
    }

#contextMenu {
    position: absolute;
    display: none;
}

#contextMenu a[disabled] {
    display: none;
}

.longTerme {
    background: #ffdc72;
}
