<table style="width:100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td style="width:150px"><p><img style="width: 110px;" src="images/logoEcole.png"> </p></td>
			<td style="float:right">
			<p>##expediteur##<br>iSND<br>40, rue de Veeweyde<br>1070 Bruxelles<br>
			tél: +32 (0)2 521 04 41 <br>
			<a href="mailto:##mailExpediteur##">##mailExpediteur##</a><br><a href="##SITEWEB##" target="_blank">##SITEWEB##</a></p>
			</td>
		</tr>
	</tbody>
</table>
